# Build directories and binary files
rust-processing/target
mtgogetter/mtgogetter.exe
mtgoupdater/Cargo.lock
mtgoupdater/target
mtgoparser/build/
mtgoparser/out/
mtgoparser/cmake-build-*/
mtgoparser/conan-cache/

# User spesific settings
mtgoparser/CMakeUserPresets.json

# IDE files
.vs/
.idea/
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.swp
*~
_ReSharper*
*.log
mtgogetter/state_log.toml
mtgoupdater/state_log.toml
